body {
    font-family: arial, sans-serif;
    padding-top: 50px;
}

p {
    padding: 0;
    margin: 0;
}

.page div {
    margin-top: 15px;
}
.page{
    width: 1000px;
    margin: auto;
}

.div1 {
    display: flex;
}

.div1 p {
    padding-left: 15px;
}

.div2 {
    display: flex;
    justify-content: space-around;
}

.div2 p {
    margin-right: 5px;
    padding: 5px;
}

.div2 p:nth-child(3) {
    background-color: #3d89bb;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.40);
}

.div3 {
    display: flex;
    justify-content: space-between;
}

.div3 img {
    width: 300px;
    margin-right: 5px;
}

img {
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}